/* General declarations */

* {
    margin: 0;
    padding: 0;
}

:root {
 font-size: 16px;

--small-text: clamp(0.5rem, calc(1rem + 0.4vh), 1.5rem);
--medium-text: clamp(1rem, calc(1rem + 1vh), 1.8rem);
--large-text: clamp(1rem, calc(1rem + 2vh), 2rem);

--small-icon: 2.5vh;
--large-icon: 5vh;

--bg-white: white;
--bg-blue: #1679AB;
--bg-gray: rgb(230, 230, 230);

}

/* Element declarations */

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

hr {
    width: 90%;
    margin: 1vh 1vw;
}

.container {

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;

    height: 100vh;
    width: 80vw;
}

.white-svg {
    filter: invert(91%) sepia(100%) saturate(0%) hue-rotate(279deg) brightness(107%) contrast(106%);
}

/* Navbar - CSS styling */

.navbar {
    grid-row: 1 / 3;
    background-color: var(--bg-blue);

    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 1rem;
    
    color: white;
    font-weight: 600;
    font-size: var(--small-text);
}

#dashboard-text {
    height: 5vh;
    font-size: var(--large-text);
    grid-row: 1 / 3;
    align-self: center;
}

#admin-icon {
    grid-row: 1 / 3;
}

.icons-container, .texts-container {
    display: grid;
    grid-template-rows: repeat(12, minmax(3vh, 5vh));
    align-items: center;
}

.hidden-row {
    visibility: hidden;
}

#admin-icon > img {
    height: 5vh;
}

.icon-container > img {
    height: 3vh;
    margin-left: 1vw;
}

.text-container {
    margin-right: 3vw;
}

.icon-container {
    justify-self: center;
}

/* Navbar styling end */
/* Header styling start */

.header {
    background-color: var(--bg-white);
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 2vh 3vw 2vh 3vw;

    box-shadow: 3px 3px 3px lightgray;
}

.header img {
    height: var(--small-icon);
}

/* Search bar */

.search-bar{
    display: flex;
    gap: 1vw;
}

.search-bar > input {
    width: 90%;
    height: 3vh;

    border-radius: 25px;

    background-color: var(--bg-gray);
    border: none;

    padding-left: 1vw;
}

.search-bar > input:focus {
    outline: none;
}

/* Welcome message */

.welcome-message {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4vw, 2fr));
}

.welcome-message-text {
    text-wrap: nowrap;
    font-weight: 600;
}

.welcome-message-text > p:nth-child(1) {
    font-size: 0.8rem;
}

.welcome-message-text > p:nth-child(2) {
    font-size: var(--medium-text);
}

/* Header icons */

.header-icon-container > img {
    height: var(--large-icon);
}

.top-icons {
    justify-self: end;

    display: grid;
    grid-auto-flow: column;
    gap: 2vw;
}

.top-icons > p {
    font-size: var(--small-text);
    font-weight: 700;
}

/* Buttons */

.button-container {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.button-container button {
    background-color: var(--bg-blue);
    color: var(--bg-white);
    font-size: 1rem;
    font-weight: 600;

    height: 4vh;
    width: 5vw;
    
    border-radius: 50px;  
    border: none;
}

/* Header styling end */

.projects {
    background-color: var(--bg-gray);
}

.card-container {
    grid-row: 2 / 3;
    background-color: var(--bg-gray);
    position: relative;
    display: grid;
    padding: 2vh 2vw;
    gap: 2vh 1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "hdr ... annt"
    "one two ann"
    "one two ann"
    "three four ann" 
    "three four trd"
    "five six trd"
    "five six trd";
}

.card-container h1 {
    font-size: var(--medium-text);
}

.card {
    z-index: 1;
    border-radius: 10px;
    background-color: white;

    box-shadow: 3px 3px 5px lightgray;
    padding: 3vh 1vw;
}

.card-icon-container img {
    height: var(--small-icon);
}

.card > h1 {
    font-size: var(--small-text);
}

.card-container > .card {
    display: grid;
    border-left: 0.5vw solid orange;
}

.card-icon-container {
    display: flex;
    gap: 0.8vw;
    justify-self: end;
    align-self: end;
}

.announcement-card div {
    padding: 0.5vh 1vw;
}

.trending-card {
    display: grid;
    grid-template-columns: 1.5vw 1fr;
    gap: 3%;
    padding-bottom: 3%;
}

.trending img {
    height: var(--small-icon);
}

/* grid areas */

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

.announcements {
    grid-area: ann;
}

.trending {
    grid-area: trd;
}

.project-text {
    grid-area: hdr;
    align-self: end;
}

.announcement-text {
    grid-area: annt;
    align-self: end;
}
